<div class="col-md-8">
	<div class="wrapper">
		<div class="row">
			<div class="col-md-4">Activist Master<a href="#" class="thumbnail"><img src=""/></a></div>
			<div class="col-md-4">Area Master<a href="#" class="thumbnail"><img src=""/><img src=""/></a></div>
			<div class="col-md-4">Cast Master<a href="#" class="thumbnail"><img src=""/><img src=""/></a></div>
		</div>
		<div class="row">
			<div class="col-md-4">Party Master<a href="#" class="thumbnail"><img src=""/><img src=""/></a></div>
			<div class="col-md-4">Party Wise Strengths<a href="#" class="thumbnail"><img src=""/><img src=""/></a></div>
			<div class="col-md-4">Booth Master<a href="#" class="thumbnail"><img src=""/><img src=""/></a></div>
		</div>
	</div>
</div>